* {
  box-sizing: border-box;
}

body {
  /* height: 1000000565165165165100vh; */
  /* width: 600px; */
}
.container {
  display: grid;
  grid-template-columns: repeat (5, 20%);
  grid-template-rows: repeat (5, 20%);
  width: 600px; 
}

.header {
  background-color: #55ACED;
  /* background-color: red; */
  display: grid;

  height: 20px;
  width: 600px;
  grid-row: 1;
  grid-template-columns: repeat(3,200px);
  grid-template-rows: 20px;
}

#signal {
  display: grid;
  height: 20px;
  width: 100px;
  grid-column: 1;
  grid-row: 1;
}

#signal img {
  height: 20px;
  width: 100px;
}

#time { 
  display: grid;
  height: 20px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
}

#time img {
  height: 20px;
  width: 100px;
    margin-left: 50px;
}

#battery {
  height: 20px;
  width: 40px;
  grid-column: 3;
  grid-row: 1;
}
#battery img {
  height: 20px;
  width: 40px;
  margin-left: 160px;
}
.profile {
  background-color: #55ACED;
  /* background-color: fuchsia; */
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;

}


#arrow {
  height: 45px;
  width: auto;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
#profile {
  height: 45px;
  width: auto;
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  padding-left: 190px;
}
#mag {
  height: 45px;
  width: auto;
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
  padding-left: 280px
}
#feather {
  height: 45px;
  width: auto;
  grid-column: 4 / span 4;
  grid-row: 2 / span 5;
  padding-left: 190px;
}

.main {
  /* background-color: orange; */
  grid-column: 1 / span 4;
  grid-row: 3;
  display: grid;
}

#mainsection {
  height: 275px;
  width: 600px;
}



.follow {
  /* background-color: green; */
  display: grid;
  grid-row: 4;
  grid-column: 1;
  font-family: inherit;
}
.follow span {
    font-weight: bold;
}

#tweet {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding-left: 30px;
  /* border: 1px solid black; */
}
#following {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  padding-left: 80px;
}
#followers {
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
  padding-left: 200px
}
.gear {
  /* background-color: black; */
  display: grid;
  grid-row: 5;
  height: 70px
}

#gearicon {
  height: 45px;
  width: auto;
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  padding-left: 20px
}

#follow {
  height: 50px;
  width: auto;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
  padding-left: 300px;

}

.post {
  background-color: white;
  display: grid;
  grid-row: 6;
}

.post span {
    font-weight: bold;
}

#profilepic {
  height: 100px;
  width: 100px;
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 1; */
}

#news {
  height: 25px;
  width: auto;
  /* margin-top: 8px; */
  /* grid-column: 2 / span 4; */
  /* grid-row: 1 / span 1; */
}

.footer {
  background-color: #0f0f0f;
  /* grid-column: 1 / span 4;
    grid-row: 8 / span 4; */
  display: grid;
  height: 80px;
  color: white;
  grid-template-columns: repeat (4, 25%);
  grid-template-rows: repeat (2, 50%);
  grid-row: 7;
  /* padding-bottom: 0; */
}

#home {
  height: 45px;
  width: auto;
  grid-column: 1 / 4;
  grid-row: 7 / 1;
  padding-left: 30px;
}
.footer p {
    padding-left: 30px;
    color: gray;
}
#connect {
  height: 45px;
  width: auto;
  grid-column: 2 / 4;
  grid-row: 7 / 1;
    padding-left: 30px;
}
#discover {
  height: 45px;
  width: auto;
  grid-column: 3 / 4;
  grid-row: 7 / 1;
    padding-left: 30px;
}
#me {
  height: 45px;
  width: auto;
  grid-column: 4 / 4;
  grid-row: 7 / 1;
  
}
